
body {
	text-align: center;
	min-width: 40em;
}

.container {
	display: inline-block;
	width: 40em;
}

.form {
	position: relative;
	padding: 2em;
	border: 2px solid #696;
}

#output {
	display: none;
	padding: 1em;
	margin-top: 1em;
	border: 2px #CCC dotted;
}

#repos_list {
	text-align: left;
}

#error_message {
	color: red;
	font-size: 14pt;
	font-weight: bolder;
}


#progress_bar_container {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


#progress_bar {
	background-color: rgba(70, 220, 100, 0.8);
	height: 100%;
	width: 0;
	transition: width 3s linear 0s;
}

.vcard {
	display: none;
}


